<div class="container">
  <form>
    <div class="form-group">

      <div class="mobile">
        <div class="row contorno mt-3">

          <div class="col-9">
            <label class="fonteLabel" for="nomeCliente">Nome do Cliente</label>
            <input type="text" class="form-control form-control-sm mb-2" id="nomeCliente">
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="statusCliente">Status</label>
            <input type="text" class="form-control form-control-sm mb-2" id="statusCliente">
          </div>

          <div class="col-5">
            <label class="fonteLabel" for="telefoneCliente">Telefone</label>
            <input type="text" class="form-control form-control-sm mb-2" id="telefoneCliente">
          </div>

          <div class="col-7">
            <label class="fonteLabel" for="emailCliente">Email</label>
            <input type="text" class="form-control form-control-sm mb-2" id="emailCliente">
          </div>

          <div class="col-12">
            <label class="fonteLabel" for="redeSocialCliente">Rede Social</label>
            <input type="text" class="form-control form-control-sm mb-2" id="Cliente">
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="cepCliente">CEP</label>
            <input type="text" class="form-control form-control-sm mb-2" id="cepCliente">
          </div>

          <div class="col-5">
            <label class="fonteLabel" for="buscarCep"></label>
            <button type="button" class="form-control btn-sm mb-2 btn-primary" id="buscarCep">Buscar CEP</button>
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="statusCliente">Estado</label>
            <input type="text" class="form-control form-control-sm mb-2" id="statusCliente">
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="cidadeCliente">Cidade</label>
            <input type="text" class="form-control form-control-sm mb-2" id="cidadeCliente">
          </div>



          <div class="col-4">
            <label class="fonteLabel" for="bairroCliente">Bairro</label>
            <input type="text" class="form-control form-control-sm mb-2" id="bairroCliente">
          </div>

          <div class="col-8">
            <label class="fonteLabel" for="enderecoCliente">Endereço</label>
            <input type="text" class="form-control form-control-sm mb-2" id="enderecoCliente">
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="complementoFuncionario">Complemento</label>
            <input type="text" class="form-control form-control-sm mb-2" id="complementoFuncionario">
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="generoCliente">Gênero</label>
            <input type="text" class="form-control form-control-sm mb-2" id="generoCliente">
          </div>

          <div class="col-8">
            <label class="fonteLabel" for="aniverCliente">Data de Aniversário</label>
            <input type="date" class="form-control form-control-sm mb-2" id="aniverCliente">
          </div>

          <div class="12">
            <label class="fonteLabel" for="exampleInputEmail1">Observação</label>
            <textarea rows="4" class="form-control form-control-sm mb-2" id="observacaoCliente"></textarea>
          </div>

        </div>

        <div class="row contorno mt-3">
          <div class="col-8">
            <label class="fonteLabel" for="nomePet">Nome do Pet</label>
            <input type="text" class="form-control form-control-sm mb-2" id="nomePet">
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="exampleInputEmail1">Tipo do Pet</label>
            <input type="text" class="form-control form-control-sm mb-2" id="tipoDoPet">
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="exampleInputEmail1">Raça do Pet</label>
            <input type="text" class="form-control form-control-sm mb-2" id="racaPet">
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="exampleInputEmail1">Porte do Pet</label>
            <input type="text" class="form-control form-control-sm mb-2" id="portePet">
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="exampleInputEmail1">Data Nasc. Pet</label>
            <input type="text" class="form-control form-control-sm mb-2" id="nascimentoPet">
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="exampleInputEmail1">Castrado</label>
            <input type="text" class="form-control form-control-sm mb-2" id="castradoPet">
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="exampleInputEmail1">Sexo do Pet</label>
            <input type="text" class="form-control form-control-sm mb-2" id="sexoPet">
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="exampleInputEmail1">Vacinação</label>
            <input type="text" class="form-control form-control-sm mb-2" id="vacinacaoPet">
          </div>

          <div class="12">
            <label class="fonteLabel" for="exampleInputEmail1">Rede Social do Pet</label>
            <input type="text" class="form-control form-control-sm mb-2" id="redeSocialPet">
          </div>

          <div class="12">
            <label class="fonteLabel" for="exampleInputEmail1">Observação</label>
            <textarea rows="4" class="form-control form-control-sm mb-2" id="observacaoCliente"></textarea>
          </div>

        </div>
      </div>


      <!-- Div Desktop -->
      <div class="desktop">
        <div class="row contorno mt-3">
          <div class="row">

            <div class="col-6">
              <div class="row">
              <div class="col-8">
                <label class="fonteLabel" for="nomeCliente">Nome do Cliente</label>
                <input type="text" class="form-control form-control-sm mb-2" id="nomeCliente">
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="telefoneCliente">Telefone</label>
                <input type="text" class="form-control form-control-sm mb-2" id="telefoneCliente">
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="statusCliente">Estado</label>
                <input type="text" class="form-control form-control-sm mb-2" id="statusCliente">
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="cidadeCliente">Cidade</label>
                <input type="text" class="form-control form-control-sm mb-2" id="cidadeCliente">
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="bairroCliente">Bairro</label>
                <input type="text" class="form-control form-control-sm mb-2" id="bairroCliente">
              </div>

              <div class="col-8">
                <label class="fonteLabel" for="enderecoCliente">Endereço</label>
                <input type="text" class="form-control form-control-sm mb-2" id="enderecoCliente">
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="cepCliente">cep</label>
                <input type="text" class="form-control form-control-sm mb-2" id="cepCliente">
              </div>

              <div class="col-5">
                <label class="fonteLabel" for="emailCliente">Email</label>
                <input type="text" class="form-control form-control-sm mb-2" id="emailCliente">
              </div>

              <div class="col-7">
                <label class="fonteLabel" for="redeSocialCliente">Rede Social</label>
                <input type="text" class="form-control form-control-sm mb-2" id="Cliente">
              </div>
            </div>
            </div>

            <div class="col-6">
              <div class="row">
              <div class="col-4">
                <label class="fonteLabel" for="aniverCliente">Data de Aniversário</label>
                <input type="date" class="form-control form-control-sm mb-2" id="aniverCliente">
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="generoCliente">Gênero</label>
                <input type="text" class="form-control form-control-sm mb-2" id="generoCliente">
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="statusCliente">Status</label>
                <input type="text" class="form-control form-control-sm mb-2" id="statusCliente">
              </div>

              <div class="12">
                <label class="fonteLabel" for="exampleInputEmail1">Observação</label>
                <textarea rows="7" class="form-control form-control-sm mb-2" id="observacaoCliente"></textarea>
              </div>
            </div>
            </div>

          </div>
        </div>

        <div class="row contorno mt-3">
          <div class="col-3">
            <label class="fonteLabel" for="nomePet">Nome do Pet</label>
            <input type="text" class="form-control form-control-sm mb-2" id="nomePet">
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="exampleInputEmail1">Tipo do Pet</label>
            <input type="text" class="form-control form-control-sm mb-2" id="tipoDoPet">
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="exampleInputEmail1">Raça do Pet</label>
            <input type="text" class="form-control form-control-sm mb-2" id="racaPet">
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="exampleInputEmail1">Porte do Pet</label>
            <input type="text" class="form-control form-control-sm mb-2" id="portePet">
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="exampleInputEmail1">Data Nasc. Pet</label>
            <input type="text" class="form-control form-control-sm mb-2" id="nascimentoPet">
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="exampleInputEmail1">Castrado</label>
            <input type="text" class="form-control form-control-sm mb-2" id="castradoPet">
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="exampleInputEmail1">Sexo do Pet</label>
            <input type="text" class="form-control form-control-sm mb-2" id="sexoPet">
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="exampleInputEmail1">Vacinação</label>
            <input type="text" class="form-control form-control-sm mb-2" id="vacinacaoPet">
          </div>

          <div class="col-6">
            <label class="fonteLabel" for="exampleInputEmail1">Rede Social do Pet</label>
            <input type="text" class="form-control form-control-sm mb-2" id="redeSocialPet">
          </div>

          <div class="12">
            <label class="fonteLabel" for="exampleInputEmail1">Observação sobre o Pet</label>
            <input type="text" class="form-control form-control-sm mb-2" id="observacaoPet">
          </div>
        </div>
      </div>
    </div>

    <div class="row contorno botao">
      <div class="col-6">
        <button type="button" class="btn btn-primary btn-sm">Salvar</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-warning btn-sm">Limpar</button>
      </div>
    </div>

  </form>

</div>
