<div class="container">
  <form>
    <div class="form-group">

      <div class="mobile">
        <div class="row contorno mt-3">

          <div class="col-9">
            <label class="fonteLabel" for="nomeFuncionario">Nome do Funcionário</label>
            <input type="text" class="form-control form-control-sm mb-2" id="nomeFuncionario">
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="statusCliente">Status</label>
            <input type="text" class="form-control form-control-sm mb-2" id="statusCliente">
          </div>

          <div class="col-5">
            <label class="fonteLabel" for="telefoneCliente">Telefone</label>
            <input type="text" class="form-control form-control-sm mb-2" id="telefoneCliente">
          </div>



          <div class="col-7">
            <label class="fonteLabel" for="emailCliente">Email</label>
            <input type="text" class="form-control form-control-sm mb-2" id="emailCliente">
          </div>

          <div class="col-12">
            <label class="fonteLabel" for="redeSocialCliente">Rede Social</label>
            <input type="text" class="form-control form-control-sm mb-2" id="Cliente">
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="cepCliente">CEP</label>
            <input type="text" class="form-control form-control-sm mb-2" id="cepCliente">
          </div>

          <div class="col-5">
            <label class="fonteLabel" for="buscarCliente"></label>
            <button type="button" class="form-control btn-sm mb-2 btn-primary" id="buscarCep">Buscar CEP</button>
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="statusCliente">Estado</label>
            <input type="text" class="form-control form-control-sm mb-2" id="statusCliente">
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="cidadeCliente">Cidade</label>
            <input type="text" class="form-control form-control-sm mb-2" id="cidadeCliente">
          </div>



          <div class="col-4">
            <label class="fonteLabel" for="bairroCliente">Bairro</label>
            <input type="text" class="form-control form-control-sm mb-2" id="bairroCliente">
          </div>

          <div class="col-8">
            <label class="fonteLabel" for="enderecoCliente">Endereço</label>
            <input type="text" class="form-control form-control-sm mb-2" id="enderecoCliente">
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="complementoFuncionario">Complemento</label>
            <input type="text" class="form-control form-control-sm mb-2" id="complementoFuncionario">
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="generoCliente">Gênero</label>
            <input type="text" class="form-control form-control-sm mb-2" id="generoCliente">
          </div>

          <div class="col-8">
            <label class="fonteLabel" for="aniverCliente">Data de Aniversário</label>
            <input type="date" class="form-control form-control-sm mb-2" id="aniverCliente">
          </div>

          <div class="12">
            <label class="fonteLabel" for="exampleInputEmail1">Observação</label>
            <textarea rows="4" class="form-control form-control-sm mb-2" id="observacaoCliente"></textarea>
          </div>

        </div>

        <div class="row contorno mt-3">
          <div class="col-8">
            <label class="fonteLabel" for="cargoFuncionario">Cargo</label>
            <input type="text" class="form-control form-control-sm mb-2" id="cargoFuncinario">
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="tipoCargo">Tipo</label>
            <input type="text" class="form-control form-control-sm mb-2" id="tipoCargo">
          </div>

          <div class="12">
            <label class="fonteLabel" for="descricaoCargo">Descrição do Cargo</label>
            <textarea rows="4" class="form-control form-control-sm mb-2" id="descricaoCargo"></textarea>
          </div>

          <div class="12">
            <label class="fonteLabel" for="observacaoCargo">Observações sobre o cargo</label>
            <textarea rows="4" class="form-control form-control-sm mb-2" id="observacaoCargo"></textarea>
          </div>

        </div>
      </div>


      <!-- Div Desktop -->
      <div class="desktop">
        <div class="row contorno mt-3">
          <div class="row">

            <div class="col-6">
              <div class="row">
              <div class="col-8">
                <label class="fonteLabel" for="nomeFuncionario">Nome do Funcionário</label>
                <input type="text" class="form-control form-control-sm mb-2" id="nomeFuncionario">
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="telefoneFuncionario">Telefone</label>
                <input type="text" class="form-control form-control-sm mb-2" id="telefoneFuncionario">
              </div>

              <div class="col-3">
                <label class="fonteLabel" for="cepFuncionario">CEP</label>
                <input type="text" class="form-control form-control-sm mb-2" id="cepFuncionario">
              </div>

              <div class="col-2">
                <label class="fonteLabel" for="statusFuncionario">Estado</label>
                <input type="text" class="form-control form-control-sm mb-2" id="statusFuncionario">
              </div>

              <div class="col-3">
                <label class="fonteLabel" for="cidadeFuncionario">Cidade</label>
                <input type="text" class="form-control form-control-sm mb-2" id="cidadeFuncionario">
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="bairroFuncionario">Bairro</label>
                <input type="text" class="form-control form-control-sm mb-2" id="bairroFuncionario">
              </div>

              <div class="col-8">
                <label class="fonteLabel" for="enderecoFuncionario">Endereço</label>
                <input type="text" class="form-control form-control-sm mb-2" id="enderecoFuncionario">
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="enderecoComplemento">Complemento</label>
                <input type="text" class="form-control form-control-sm mb-2" id="enderecoComplemento">
              </div>



              <div class="col-5">
                <label class="fonteLabel" for="emailFuncionario">Email</label>
                <input type="text" class="form-control form-control-sm mb-2" id="emailFuncionario">
              </div>

              <div class="col-7">
                <label class="fonteLabel" for="redeSocialFuncionario">Rede Social</label>
                <input type="text" class="form-control form-control-sm mb-2" id="redeSocialFuncionario">
              </div>
            </div>
            </div>

            <div class="col-6">
              <div class="row">
              <div class="col-4">
                <label class="fonteLabel" for="aniverFuncionario">Data de Aniversário</label>
                <input type="date" class="form-control form-control-sm mb-2" id="aniverFuncionario">
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="generoFuncionario">Gênero</label>
                <input type="text" class="form-control form-control-sm mb-2" id="generoFuncionario">
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="statusFuncionario">Status</label>
                <input type="text" class="form-control form-control-sm mb-2" id="statusFuncionario">
              </div>

              <div class="12">
                <label class="fonteLabel" for="observacaoFuncionario">Observação</label>
                <textarea rows="7" class="form-control form-control-sm mb-2" id="observacaoFuncionario"></textarea>
              </div>
            </div>
            </div>

          </div>
        </div>

        <div class="row contorno mt-3">
          <div class="col-6">
            <div class="row">
              <div class="col-8">
                <label class="fonteLabel" for="cargoFuncionario">Cargo</label>
                <input type="text" class="form-control form-control-sm mb-2" id="cargoFuncinario">
              </div>
              <div class="col-4">
                <label class="fonteLabel" for="tipoCargo">Tipo</label>
                <input type="text" class="form-control form-control-sm mb-2" id="tipoCargo">
              </div>
              <div class="12">
                <label class="fonteLabel" for="descricaoCargo">Descrição do Cargo</label>
                <textarea rows="2" class="form-control form-control-sm mb-2" id="descricaoCargo"></textarea>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="12">
                <label class="fonteLabel" for="observacaoCargo">Observações sobre o cargo</label>
                <textarea rows="5" class="form-control form-control-sm mb-2" id="observacaoCargo"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row contorno botao">
      <div class="col-6">
        <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
      </div>
      <div class="col-6">
        <button type="submit" class="btn btn-warning btn-sm">Limpar</button>
      </div>
    </div>
  </form>

</div>
