<div class="container">
  <form>
    <div class="form-group">

      <div class="mobile">
        <div class="row contorno mt-3">
          <div class="col-9">
            <label class="fonteLabel" for="buscaCliente">Nome do Cliente</label>

            <!-- <select type="text" class="form-control form-control-sm mb-2" id="buscaCliente" (ngModelChange)="mostrarPet()"> -->
              <!-- <select  [(ngModel)]="clienteEscolhido" name="clienteEscolhido" (ngModelChange)="mostrarPet()"> -->
              <select  class="form-control form-control-sm mb-2" [(ngModel)]="clienteEscolhido" name="clienteEscolhido" (ngModelChange)="buscarNomePet()">
              <option *ngFor="let clientes of menu"  [ngValue]="clientes">
               {{clientes.nomeCliente}}
              </option>
            </select>
          </div>

          <div class="col-9">
            <label class="fonteLabel" for="nomeCliente">Nome do Pet</label>
            <input [(ngModel)]="nomePet" name="nomePet" type="text" class="form-control form-control-sm mb-2" id="nomeCliente" readonly>
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="botaoBuscar"></label>
            <button type="button" class="form-control btn-sm mb-2 btn-primary" id="botaoBuscar" (click)="buscarUmCliente()" >Buscar</button>
          </div>
        </div>
        <div class="row contorno mt-3">

          <div class="col-9">
              <label class="fonteLabel" for="nomeCliente">Nome do Cliente</label>
              <input type="text" [(ngModel)]="nomeCliente" name="nomeCliente" class="form-control form-control-sm mb-2" readonly>
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="statusCliente">Status</label>
            <input type="text" [(ngModel)]="statusCliente" name="statusCliente" class="form-control form-control-sm mb-2" id="statusCliente" readonly>
          </div>

          <div class="col-5">
            <label class="fonteLabel" for="telefoneCliente">Telefone</label>
            <input type="text" [(ngModel)]="telefone" name="telefone" class="form-control form-control-sm mb-2" id="telefoneCliente" readonly>
          </div>

          <div class="col-7">
            <label class="fonteLabel" for="emailCliente">Email</label>
            <input type="text" [(ngModel)]="email" name="email" class="form-control form-control-sm mb-2" id="emailCliente" readonly>
          </div>

          <div class="col-8">
            <label class="fonteLabel" for="enderecoCliente">Endereço</label>
            <input type="text" [(ngModel)]="endereco" name="endereco" class="form-control form-control-sm mb-2" id="enderecoCliente" readonly>
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="enderecoComplemento">Complemento</label>
            <input type="text" [(ngModel)]="complemento" name="complemento" class="form-control form-control-sm mb-2" id="enderecoComplemento" readonly>
          </div>

          <div class="col-12">
            <label class="fonteLabel" for="redeSocialCliente">Rede Social</label>
            <input type="text" [(ngModel)]="redeSocialCliente" name="redeSocialCliente" class="form-control form-control-sm mb-2" id="Cliente" readonly>
          </div>

          <div class="col-5">
            <label class="fonteLabel" for="cepCliente">CEP</label>
            <input type="text" [(ngModel)]="cep" name="cep"  class="form-control form-control-sm mb-2" id="cepCliente" readonly>
          </div>

          <div class="col-7">
            <label class="fonteLabel" for="statusCliente">Estado</label>
            <input type="text" [(ngModel)]="estado" name="estado" class="form-control form-control-sm mb-2" id="statusCliente" readonly>
          </div>

          <div class="col-5">
            <label class="fonteLabel" for="cidadeCliente">Cidade</label>
            <input type="text" [(ngModel)]="cidade" name="cidade"  class="form-control form-control-sm mb-2" id="cidadeCliente" readonly>
          </div>



          <div class="col-7">
            <label class="fonteLabel" for="bairroCliente">Bairro</label>
            <input type="text" [(ngModel)]="bairro" name="bairro" class="form-control form-control-sm mb-2" id="bairroCliente" readonly>
          </div>

          <div class="col-5">
            <label class="fonteLabel" for="generoCliente">Gênero</label>
            <input type="text" [(ngModel)]="genero" name="genero" class="form-control form-control-sm mb-2" id="generoCliente" readonly>
          </div>

          <div class="col-7">
            <label class="fonteLabel" for="aniverCliente">Data de Aniversário</label>
            <input type="date" [(ngModel)]="nascCliente" name="nascCliente" class="form-control form-control-sm mb-2" id="aniverCliente" readonly>
          </div>

          <div class="12">
            <label class="fonteLabel" for="exampleInputEmail1">Observação</label>
            <textarea rows="5" [(ngModel)]="observacaoCliente" name="observacaoCliente" class="form-control form-control-sm mb-2" id="observacaoCliente" readonly></textarea>
          </div>

        </div>

        <div class="row contorno mt-3">
          <div class="col-8">
            <label class="fonteLabel" for="nomePet">Nome do Pet</label>
            <input type="text" [(ngModel)]="nomeDoPet" name="nomeDoPet" class="form-control form-control-sm mb-2" id="nomePet" readonly>
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="exampleInputEmail1">Tipo do Pet</label>
            <input type="text" [(ngModel)]="tipoPet" name="tipoDoPet" class="form-control form-control-sm mb-2" id="tipoDoPet" readonly>
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="exampleInputEmail1">Raça do Pet</label>
            <input type="text" [(ngModel)]="raca" name="raca" class="form-control form-control-sm mb-2" id="racaPet" readonly>
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="exampleInputEmail1">Porte do Pet</label>
            <input type="text" [(ngModel)]="porte" name="porte" class="form-control form-control-sm mb-2" id="portePet" readonly>
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="exampleInputEmail1">Data Nasc. Pet</label>
            <input type="text" [(ngModel)]="nascPet" name="nascPet"  class="form-control form-control-sm mb-2" id="nascimentoPet" readonly>
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="exampleInputEmail1">Castrado</label>
            <input type="text" [(ngModel)]="petCastrado" name="petCastrado" class="form-control form-control-sm mb-2" id="castradoPet" readonly>
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="exampleInputEmail1">Sexo do Pet</label>
            <input type="text" [(ngModel)]="sexoPet" name="sexoPet" class="form-control form-control-sm mb-2" id="sexoPet" readonly>
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="exampleInputEmail1">Vacinação</label>
            <input type="text" [(ngModel)]="petVacinado" name="petVacinado" class="form-control form-control-sm mb-2" id="vacinacaoPet" readonly>
          </div>

          <div class="12">
            <label class="fonteLabel" for="exampleInputEmail1">Rede Social do Pet</label>
            <input type="text" [(ngModel)]="redeSocialPet" name="redeSocialPet" class="form-control form-control-sm mb-2" id="redeSocialPet" readonly>
          </div>

          <div class="12">
            <label class="fonteLabel" for="exampleInputEmail1">Observação</label>
            <textarea rows="5" [(ngModel)]="observacaoPet" name="observacaoPet" class="form-control form-control-sm mb-2" id="observacaoCliente" readonly></textarea>
          </div>

        </div>
      </div>


      <!-- Div Desktop -->
      <div class="desktop">
        <div class="row contorno mt-3">
          <div class="col-4">
            <label class="fonteLabel" for="buscaCliente">Nome do Cliente</label>
              <select  class="form-control form-control-sm mb-2" [(ngModel)]="clienteEscolhido" name="clienteEscolhido" (ngModelChange)="buscarNomePet()">
              <option *ngFor="let clientes of menu"  [ngValue]="clientes">
               {{clientes.nomeCliente}}
              </option>
            </select>
          </div>

          <div class="col-4">
            <label class="fonteLabel" for="nomeCliente">Nome do Pet</label>
            <input [(ngModel)]="nomePet" name="nomePet" type="text" class="form-control form-control-sm mb-2" readonly>
          </div>

          <div class="col-2">
            <label class="fonteLabel" for="botaoBuscar"></label>
            <button type="button" class="form-control btn-sm mb-2 btn-primary" id="botaoBuscar" (click)="buscarUmCliente()">Buscar</button>
          </div>
        </div>
        <div class="row contorno mt-3">
          <div class="row">

            <div class="col-6">
              <div class="row">
              <div class="col-8">
                <label class="fonteLabel" for="nomeCliente">Nome do Cliente</label>
                <input [(ngModel)]="nomeCliente" name="nomeCliente" type="text" class="form-control form-control-sm mb-2" id="nomeCliente" readonly>
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="telefoneCliente">Telefone</label>
                <input [(ngModel)]="telefone" name="telefone" type="text" class="form-control form-control-sm mb-2" id="telefoneCliente" readonly>
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="statusCliente">Estado</label>
                <input [(ngModel)]="estado" name="estado" type="text" class="form-control form-control-sm mb-2" id="statusCliente" readonly>
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="cidadeCliente">Cidade</label>
                <input [(ngModel)]="cidade" name="cidade" type="text"  class="form-control form-control-sm mb-2" id="cidadeCliente" readonly>
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="bairroCliente">Bairro</label>
                <input [(ngModel)]="bairro" name="bairro" type="text"  class="form-control form-control-sm mb-2" id="bairroCliente" readonly>
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="enderecoCliente">Endereço</label>
                <input [(ngModel)]="endereco" name="endereco" type="text"  class="form-control form-control-sm mb-2" id="enderecoCliente" readonly>
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="enderecoComplemento">Complemento</label>
                <input [(ngModel)]="complemento" name="complemento" type="text"  class="form-control form-control-sm mb-2" id="enderecoComplemento" readonly>
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="cepCliente">CEP</label>
                <input [(ngModel)]="cep" name="cep" type="text"  class="form-control form-control-sm mb-2" id="cepCliente" readonly>
              </div>

              <div class="col-5">
                <label class="fonteLabel" for="emailCliente">Email</label>
                <input [(ngModel)]="email" name="email" type="text" class="form-control form-control-sm mb-2" id="emailCliente" readonly>
              </div>

              <div class="col-7">
                <label class="fonteLabel" for="redeSocialCliente">Rede Social</label>
                <input [(ngModel)]="redeSocialCliente" name="redeSocialCliente" type="text" class="form-control form-control-sm mb-2" id="Cliente" readonly>
              </div>
            </div>
            </div>

            <div class="col-6">
              <div class="row">
              <div class="col-4">
                <label class="fonteLabel" for="aniverCliente">Data de Aniversário</label>
                <input [(ngModel)]="nascCliente" name="nascCliente" type="date" class="form-control form-control-sm mb-2" id="aniverCliente" readonly>
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="generoCliente">Gênero</label>
                <input [(ngModel)]="genero" name="genero" type="text" class="form-control form-control-sm mb-2" id="generoCliente" readonly>
              </div>

              <div class="col-4">
                <label class="fonteLabel" for="statusCliente">Status</label>
                <input [(ngModel)]="statusCliente" name="statusCliente" type="text" class="form-control form-control-sm mb-2" id="statusCliente" readonly>
              </div>

              <div class="12">
                <label class="fonteLabel" for="exampleInputEmail1">Observação</label>
                <textarea [(ngModel)]="observacaoCliente" name="observacaoCliente" rows="7" class="form-control form-control-sm mb-2" id="observacaoCliente" readonly></textarea>
              </div>
            </div>
            </div>

          </div>
        </div>

        <div class="row contorno mt-3">
          <div class="col-3">
            <label class="fonteLabel" for="nomePet">Nome do Pet</label>
            <input [(ngModel)]="nomeDoPet" name="nomeDoPet" type="text"  class="form-control form-control-sm mb-2" id="nomePet" readonly>
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="exampleInputEmail1">Tipo do Pet</label>
            <input [(ngModel)]="tipoPet" name="tipoPet" type="text"  class="form-control form-control-sm mb-2" id="tipoDoPet" readonly>
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="exampleInputEmail1">Raça do Pet</label>
            <input [(ngModel)]="raca" name="raca" type="text"  class="form-control form-control-sm mb-2" id="racaPet" readonly>
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="exampleInputEmail1">Porte do Pet</label>
            <input [(ngModel)]="porte" name="porte" type="text"  class="form-control form-control-sm mb-2" id="portePet" readonly>
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="exampleInputEmail1">Data Nasc. Pet</label>
            <input [(ngModel)]="nascPet" name="nascPet" type="text"  class="form-control form-control-sm mb-2" id="nascimentoPet" readonly>
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="exampleInputEmail1">Castrado</label>
            <input [(ngModel)]="petCastrado" name="petCastrado" type="text"  class="form-control form-control-sm mb-2" id="castradoPet" readonly>
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="exampleInputEmail1">Sexo do Pet</label>
            <input [(ngModel)]="sexoPet" name="sexoPet" type="text"  class="form-control form-control-sm mb-2" id="sexoPet" readonly>
          </div>

          <div class="col-3">
            <label class="fonteLabel" for="exampleInputEmail1">Vacinação</label>
            <input [(ngModel)]="petVacinado" name="vacinacaoPet" type="text"  class="form-control form-control-sm mb-2" id="vacinacaoPet" readonly>
          </div>

          <div class="col-6">
            <label class="fonteLabel" for="exampleInputEmail1">Rede Social do Pet</label>
            <input [(ngModel)]="redeSocialPet" name="redeSocialPet" type="text"  class="form-control form-control-sm mb-2" id="redeSocialPet" readonly>
          </div>

          <div class="12">
            <label class="fonteLabel" for="exampleInputEmail1">Observação sobre o Pet</label>
            <input [(ngModel)]="observacaoPet" name="observacaoPet" type="text"  class="form-control form-control-sm mb-2" id="observacaoPet" readonly>
          </div>
        </div>
      </div>
    </div>

    <div class="row contorno botao">
      <div class="col-6">
        <button type="submit" class="btn btn-warning btn-sm">Editar</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </div>
    </div>

  </form>
</div>
